NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL=

GOOGLE_CREDENTIALS_B64=
GOOGLE_PROJECT_ID=
GOOGLE_TRANSLATE_SOURCE=es
GOOGLE_TRANSLATE_TARGETS=en,fr,de,it

WOMPI_ENVIRONMENT=sandbox
WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_EVENTS_SECRET=
WOMPI_CURRENCY=COP
WOMPI_API_BASE_URL=https://sandbox.wompi.co/v1
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/
WOMPI_REDIRECT_URL=http://localhost:5173/pago/confirmacion

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
